body{
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    color: white;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}
main{
    grid-column: 2/-1;
    grid-row: 1;
    background-color: black;
}
header{
    grid-column: 1/1;
    grid-row: 1;
    background-color: #21201d;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    justify-content: space-between;
}
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav li:nth-child(-n+4){
    list-style: none;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 6rem;
}
header span{
    font-size: 2.5rem;
    color: #F4D478;
    margin-bottom: 2rem;
}
nav ul{
    padding: 0;
    width: 80%;
}
nav a{
    color: white;
}
header img{
    width: 80%;
}
.buscar{
    margin: 1.3rem 0 0 1.3rem;
    float: right;
}
.buscar input{
    margin-right: 1.5rem;
    background-color: #7d7c7a;
    padding: 0.4rem;
    font-weight: bolder;
    border: none;
}
.buscar input::placeholder{
    color: white;
}
.informacion-personal{
    display: flex;
    margin-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
    width: 97%;
    margin: auto;
    padding-bottom: 1.2rem;
    border-bottom: 1.3px solid white;
}
.informacion-personal img{
    width: 30%;
    border-radius: 60%;
}
.informacion-personal li{
    margin-bottom: 3rem;
    list-style: none;
}
.informacion-personal div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.formulario{
    margin-bottom: 4rem;
}
.formulario form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form .mails{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2rem;
}
form .contraseñas{
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-between;
}
.formulario select{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    font-weight: bold;
}
.formulario input[type="submit"]{
    align-self: flex-end;
    padding: 1rem;
    background-color: rgb(204, 201, 197);
    font-weight: bold;
}
.formulario input:not(input[type="submit"]){
    padding: 0.4rem;
}
.formulario input[type="email"]:first-of-type::placeholder{
    color: white;
    font-weight: bold;
}
.formulario input:not(input[type="email"]:first-of-type)::placeholder{
    color: black;
    font-weight: bold;
}

#reproductor{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    width: 90%;
    background-color: black;
}
#progress{
    border: 4px solid white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#handler{
    border: 3px solid #F4D478;
    border-radius: 50%;
    width: 5%;
}
.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
#informacion-pista{
    display: flex;
    border: 2px solid white;
    justify-content: space-between;
    width: 20%;
    margin-top: 1rem;
}
#reproductor button{
    background-color: black;
    border: none;
}
#reproductor button i{
    color: white;
    font-size: 1.3rem;
}
#volumen{
    border: 3px solid white;
    border-radius: 20px;
    width: 50%;
}