body{
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    color: white;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}
main{
    grid-column: 2/-1;
    grid-row: 1;
    background-color: black;
}
header{
    grid-column: 1/1;
    grid-row: 1;
    background-color: #21201d;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    justify-content: space-between;
}
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav li:nth-child(-n+4){
    list-style: none;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}
a{
    color: white;
    text-decoration: none;
}
.enlace-inicio{
    text-align: center;
}
header span{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
header span a{
    color: #F4D478;
}
nav ul{
    padding: 0;
    width: 80%;
}
header img{
    width: 80%;
}
form{
    margin: 1.3rem 0 0 1.3rem;
    float: right;
}
form input{
    margin-right: 1.5rem;
    background-color: #7d7c7a;
    padding: 0.4rem;
    font-weight: bolder;
    border: none;
}
form input::placeholder{
    color: white;
}
.album-info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 5rem;
}
.album-info img{
    width: 25%;
}
.album-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}
.album-info li{
    margin-bottom: 2.5rem;
    list-style: none;
    font-size: 1.2rem;
}
.artista-titulo h2{
    margin-bottom: 0;
}
.artista-titulo h3{
    margin-top: 0;
}
.lista-canciones{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    margin-bottom: 7rem;
}
.lista-canciones li{
    margin-bottom: 0.4rem;
    text-align: center;
}

#reproductor{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    width: 90%;
    background-color: black;
}
#progress{
    border: 4px solid white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#siguiente{
    margin-left: auto;
}
#track{
    display: flex;
}
#handler{
    border: 3px solid #F4D478;
    border-radius: 50%;
    width: 5%;
}
.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
#informacion-pista{
    display: flex;
    border: 2px solid white;
    justify-content: space-between;
    width: 20%;
    margin-top: 1rem;
}
#reproductor button{
    background-color: black;
    border: none;
}
#reproductor button i{
    color: white;
    font-size: 1.3rem;
}
#volumen{
    border: 3px solid white;
    border-radius: 20px;
    width: 50%;
}
