body{
    background-color: white;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid #F4D478;
}
header  img{
    float: left;
    width: 6%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}
h1{
    text-align: center;
    font-size: 3rem;

}
.descripcion{
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
}
.descripcion a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
form{
    margin: auto;
    width: 50%;
}
input{
    border-radius: 20px;
    padding: 0.4rem;
    margin: 1.5rem 0 1.5rem 0;
}
strong:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
.preguntas{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.preguntas summary{
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
.preguntas article{
    width: 100%;
    border-bottom: 3px solid black;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}
footer img{
    width: 15%;
    padding: 2rem;
 }
footer{
     background-color: black;
     display: flex;
     justify-content: space-between;
     color: white;
     align-items: flex-end;
     border-top: 2px solid #F4D478;
     margin-top: 5rem;
 }
footer ul{
     margin: 0;
     list-style: none;
     align-self: center;
 }
#iconos i{
     color: white;
     font-size: 1.5rem;
     margin-right: 0.5rem;
     margin-bottom: 0.8rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.redes{
    margin-right: 1rem;
}