body{
    background-color: black;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
header img{
    width: 8%;
}
.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado img{
    width: 100%;
    position: relative;
}
.resaltar{
    color: #F4D478;
}

header{
    background-color: #2c292966;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1.5px solid #F4D478;
    z-index: 1;
    font-family: 'Alegreya Sans', sans-serif;

}
nav ul{
   display: flex; 
   margin: 0;
   list-style: none;    
}
nav li:first-child{
    margin-right: 10rem;
}
nav a{
    text-decoration: none;
    color: white;
    
}
h1{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 20%;
    text-align: center;
}
.parrafo-inicial{
    color: white;
    width: 70%;
    margin: auto;
    text-align: justify;
}
.general{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
}
.info{
    width: 50%;
    color: white;
    margin: 0;
    padding: 1rem;
}
.info img{
    width: 80%;
    border-radius: 10%;
}
h2{
    text-align: center;
    color: white;
    font-size: 2rem;
}
.catalogo{
    display: flex;
    gap: 7px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border: 1.5px solid aliceblue;
    border-radius: 30px;
}
.catalogo img{
    width: 23%;
    border-radius: 50%;
    scroll-snap-align: center;
}