body{
    background-color: white;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid #F4D478;
}
header img{
    float: left;
    width: 6%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}
h1{
    text-align: center;
    font-size: 3rem;
}

form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form input{
    border: 2px solid black
}
.superior{
    display: flex;
    flex-direction: column;
}
.superior input{
    margin-bottom: 1.4rem;
    padding: 0.4rem;
}
#motivo{
    border: 2px solid black;
}
textarea{
    border: 2px solid black;
    margin-bottom: 1.5rem;
    width: 100%;
}
form select{
    margin-bottom: 1.3rem;
    padding: 0.4rem;
}
form input[type="submit"]{
    align-self: flex-end;
    margin-top: 1rem;
    padding: 0.5rem;
}

footer img{
    width: 15%;
    padding: 2rem;
 }
footer{
     background-color: black;
     display: flex;
     justify-content: space-between;
     color: white;
     align-items: flex-end;
     border-top: 2px solid #F4D478;
     margin-top: 5rem;
 }
footer ul{
     margin: 0;
     list-style: none;
     align-self: center;
 }
#iconos i{
     color: white;
     font-size: 1.5rem;
     margin-right: 0.5rem;
     margin-bottom: 0.8rem;
}
footer a{
    text-decoration: none;
    color: white;
}
.redes{
    margin-right: 1rem;
}