body{
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr;
    color: white;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}
header{
    grid-column: 1/1;
    grid-row: 1;
    background-color: #21201d;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    justify-content: space-between;
}
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav li:nth-child(-n+4){
    list-style: none;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}
.enlace-inicio{
    text-align: center;
}
nav a{
    color: white;
}
header span{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
header span a{
    color: #F4D478;
}
nav ul{
    padding: 0;
}
header img{
    width: 80%;
}
main{
    grid-column: 2/-1;
    grid-row: 1;
    background-color: black;
}
#filtro-grupos form {
    width: 55%;
    display: flex;
    justify-content: space-between;
}
section#filtro-grupos {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
#filtro-grupos form input{
    margin-right: 1.5rem;
    background-color: #7d7c7a;
    padding: 0.4rem;
    font-weight: bolder;
    border: none;
}
#filtro-grupos form input::placeholder{
    color: white;
}
#filtro-grupos form select{
    background-color: #7d7c7a;
    padding: 0.4rem;
    color: white;
    font-weight: bolder;
}
#albumes{
    width: 70%;
    margin: auto;
    margin-top: 6.5rem;
    margin-bottom: 10rem;
}
#albumes h3{
    font-size: 1.5rem;
}

.contenedor-album{
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background-color: whitesmoke;
    padding: 0.5rem 0 0 0.5rem;
}
.contenedor-album::-webkit-scrollbar{
    width: 2px;
    height: 8px;
}
.contenedor-album::-webkit-scrollbar-track{
    background: whitesmoke;
}
.contenedor-album::-webkit-scrollbar-thumb{
    background-color: #908f83;    /* color of the scroll thumb */
    border-radius: 7px;       /* roundness of the scroll thumb */
}
.album{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.album img{
    width: 13%;
    border-radius: 50%;
    scroll-snap-align: center;
    margin-right: 4rem;
}

#reproductor{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    width: 90%;
    background-color: black;
}
#progress{
    border: 4px solid white;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#handler{
    border: 3px solid #F4D478;
    border-radius: 50%;
    width: 5%;
}
#siguiente{
    margin-left: auto;
}
#track{
    display: flex;
}
.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
#informacion-pista{
    display: flex;
    border: 2px solid white;
    justify-content: space-between;
    width: 20%;
    margin-top: 1rem;
}
#reproductor button{
    background-color: black;
    border: none;
}
#reproductor button i{
    color: white;
    font-size: 1.3rem;
}
#volumen{
    border: 3px solid white;
    border-radius: 20px;
    width: 50%;
}
